
Unity Project/AdjAni_GGJ2022/ProjectSettings/ProjectVersion.txt

Unity Project/AdjAni_GGJ2022/Packages/packages-lock.json

Unity Project/AdjAni_GGJ2022/Assets/Plugins/FMOD/Resources/FMODStudioSettings.asset
